.intro-box {
	margin: auto;
	position: fixed;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.intro-text {
	font-family: inherit !important;
}
