.work {
	margin-left: 5vw;
	font-size: 2.5em;
}

.work > li {
	margin-top: 8px;
	line-height: 1.3;
	list-style-type: square;
}

.work > li:first-child {
	margin-top: 0;
}

.work > li > span {
	color: white;
}

.work > li > span > a {
	color: #00ffff !important;
}

@media screen and (max-width: 640px) {
	.work {
		padding-top: 2vh;
		margin-left: 5vw;
		font-size: 2em;
	}
}
